/* =============
    Variables
============= */

// Define the breakpoints
// Small tablets and large smartphones
$screen-sm-min: 576px;

// Small tablets
$screen-md-min: 768px;

// Large tablets and small desktops
$screen-lg-min: 992px;

// Large desktops
$screen-xl-min: 1200px;


// Colors
$white: #fff;
$black: #000;
$artfulpink: #F61067;
$lavender: #DCD6F7;
$blueberrycream: #A6B1E1;
$poke: #7B62CB;
$eggplant: #2E2885;
$lightpurple: #B97FE7;
$purpletulip: #5012B5;
$purplepassion: #993CE2;
$punchy: #7708CF;
$deepiris: #560A93;
$deepspace: #350659;



