/* =============
    Base
============= */

.container{
    display:grid;
    grid-template-columns: 16px auto 16px;
    grid-template-areas: 
    ". content ."
    ;
    .content{
        grid-area:content;
        margin-top: 72px;
    }
}

.show-menu{
    display: block !important;
}

.hide-for-large{
    @include lg{
        display: none;
    }
}
