/* =============
    Base
============= */

.container{
    display:grid;
    grid-template-columns: 16px auto 16px;
    padding-top: 16px;
    grid-template-areas: 
    ". content ."
    ;
    .content{
        grid-area:content;
    }
}

.show-menu{
    display: block !important;
}

.hide-for-lg{
    @include lg{
        display: none;
    }
}
