/* =============
    Grid
============= */


.grid{
    display: block;

    @include md{
        display: grid;
        grid-template-columns: 60% 40%;
    }
}

.page{
    @include lg{
        margin-left: 180px;
        margin-right: 180px;
    }
}