/* =============
    Location
============= */

.location{
    .content{

        text-align: center;

        img{
            width: 100%
        }

        .mobile{
            display: flex;
            flex-direction: row;
            text-align: center;

            @include md{
                display: none;
            }

            a{
                text-decoration: none;
                color: $artfulpink
            }
        
        }

        p{
            color: $blueberrycream;
        }

        .tablet{
            display: none;

            @include md{
                display: block;
            }
        }
    }
}
  


