/* =============
    Location
============= */

.location{
    img{
        display:none;
    }

    mobile{
        display: flex;
        width: 100%;

        p{
            color: $artfulpink;
            text-decoration: underline;
        }
    }

    @include md{
        img{
            display:block;
            width: 100%;
            border-radius: 16px;
        }

        mobile{
            display: none;
        }
    }
}