/* =============
    Post
============= */

.post{
    outline: solid 2px $purpletulip;
    border-radius: 24px;
    padding: 24px;
    margin: 16px;

    .content{

        .account{
            display: flex;

            img{
                margin-right: 16px;
                width: 8%;
            }
        }

        .hashtags{
        a{
            text-decoration: none;
                background-color: $blueberrycream;
                border-radius: 20px;
                padding-top: 8px;
                padding-bottom: 8px;
                padding-left: 16px;
                padding-right: 16px;

                color:white;
                justify-content: center;
                align-items: center;
        }
    }

    .links{
        ul{
            list-style: none;
            display:flex;
            flex-direction: row;
            justify-content: space-between;
        }

        a{
            text-decoration: none;
            color: $eggplant;
        }
    }
        
    }
}
