/* =============
    Footer
============= */

footer{
    background-color: #333333;

        ul{

          text-align: center;

            a:link {
                color: white; 
                background-color: transparent; 
                text-decoration: none;
              }
              
              a:hover {
                color: $artfulpink;
                background-color: transparent;
              }
              
              a:active {
                color: $artfulpink;
                background-color: transparent;
              }

            li{
            list-style: none;
            text-align: center; 

                @include md{
                    display: inline;
                    text-align: center;
                    float: none;
                    padding: 16px;
                    
                }
            

        }
    }
    }