/* =============
    Buttons
============= */

button{
        background-color: $purpletulip;
        border: none;
        padding-left: 40px;
        padding-right: 40px;
        padding-top: 16px;
        padding-bottom: 16px;
        margin: 8px;
        height: 48px;
        border-radius: 40px;
        text-align: center;
        color: white;

        &:hover{
            cursor: pointer;
            background-color: $lavender;
        }
}